
    .list-group-item.active {
        page-break-after:always;
        width: 100%;
        min-height: 100%;
        font-size: 300%;
        color: black;
    }

    ul {
        list-style-type: none;
        border: 4px dotted green;
    }
    img{
        height:60%;
        width:70%;
    }
    text{
        color: black;
    }
    


